﻿@model Ca2s00130053.Models.Director

<div class="panel panel-info">
    <div class="panel-heading">
        <strong>@Model.FirstName&nbsp;@Model.LastName</strong>
    </div>
    <div class="panel-body">
        @Html.DisplayFor(model => model.FullName)
    </div>
</div>